@charset "utf-8";

#header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background: white;
    box-shadow: 0 0 5px var(--black);
}

#header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width);
    margin: 0 auto;
}

.menu-list {
    display: flex;
}

.menu-list span {
    font-family: 'yg-jalnan', serif;
    font-size: 2rem;
}

.menu-list>li:not(.menu2) span::after {
    content: "▾";
    margin-left: .3rem;
    font-size: 2rem;
}

.menu-list>li {
    position: relative;
    margin: 0 2rem;
    padding: 5rem 0;
    text-align: center;
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    top: 12rem;
}

.menu1sub {
    left: -3rem;
}

.menu3sub {
    left: -1.5rem;
}

.menu4sub {
    left: -4rem;
}

.menu-list>li:hover .submenu {
    display: block;
}

.submenu>li {
    width: 14rem;
    padding: 1rem;
    background: white;
    text-align: center;
    font-size: 1.5rem;
}

.submenu>li:hover {
    background: var(--patty);
    color: white;
}

.submenu>li:last-child {
    border-radius: 0 0 2rem 2rem;
}

.nav-btn-group {
    display: flex;
}

.nav-btn {
    height: 5rem;
    padding: 0 2.5rem;
    border: 0;
    box-shadow: 1px 1px 3px gray;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease 0s;
}

.btn1 {
    border-radius: 10rem 0 0 10rem;
    background: var(--patty);
}

.btn2 {
    border-radius: 0 10rem 10rem 0;
    background: var(--bread);
}

.nav-btn:hover {
    background: #FCDEC0;
}

.btn1:hover {
    color: var(--patty);
}

.btn2:hover {
    color: var(--bread);
}