@charset "utf-8";

#container {
    margin-top: 12rem;
}

/* 영상 */
.youtube {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.bread {
    background: var(--bread);
    width: var(--width);
    height: 9rem;
    border-radius: 10rem 10rem 5px 5px;
}

#recommend {
    font-family: 'yg-jalnan', serif;
    font-size: 3.8rem;
    color: white;
    user-select: none;
    line-height: 9rem;
}

.menu-video {
    margin: .8rem 0 .5rem;
}

iframe {
    border-radius: 3rem;
}

.sns {
    display: flex;
    justify-content: space-evenly;
    width: var(--width);
    height: 8rem;
    border-radius: .5rem .5rem 2rem 2rem;
    background: var(--bread);
}

.sns>a {
    display: flex;
    align-items: center;
}

.sns img {
    position: relative;
    margin-top: .5rem;
    width: 7rem;
    height: 7rem;
    margin-right: .3rem;
    object-fit: cover;
}

.snsText {
    position: relative;
    font-family: 'yg-jalnan', serif;
    font-size: 1.6rem;
    color: white;
}

.snsText p {
    border-radius: .3rem;
    margin-top: .5rem;
    padding: .3rem;
    background: white;
    font-family: 'NanumSquareRound', serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black);
}

/* 캐러셀 */
.carousel-container {
    position: relative;
    width: var(--width);
    margin: auto;
    overflow: hidden;
    border-radius: 2rem;
}

.carousel-slide {
    display: flex;
    object-fit: cover;
}

.carousel-slide img {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#prevBtn {
    position: absolute;
    top: 50%;
    left: 0;
    width: 35px;
    height: 4rem;
    transform: translate(20%, -50%);
    border: 0;
    background: url(../img/btn_prev.png) no-repeat;
}

#nextBtn {
    position: absolute;
    top: 50%;
    right: 0;
    width: 35px;
    height: 4rem;
    transform: translate(-10%, -50%);
    border: 0;
    background: url(../img/btn_next.png) no-repeat;
}

/* 주문 */
.order {
    display: flex;
    margin: 1rem;
    justify-content: center;
}

.order .appImg {
    border-radius: 2rem 0 0 2rem;
}

.order .deliveryImg {
    border-radius: 0 2rem 2rem 0;
}