@charset "utf-8";

body {
    background: #FCDEC0;
}

/* 고정바 */
#header {
    background: #fa6400;
}

#header>a {
    display: flex;
    justify-content: start;
    align-items: center;
    width: var(--width);
    margin: 0 auto;
}

#header>a>span {
    font-family: 'yg-jalnan', serif;
    font-size: 4rem;
    color: white;
    cursor: pointer;
}

nav {
    position: absolute;
    top: 12rem;
    width: 100%;
    min-height: 5rem;
    background: var(--black);
}

nav>ul {
    position: relative;
    display: flex;
    top: 1.5rem;
    width: var(--width);
    margin: 0 auto;
    padding-left: 6rem;
    font-size: 1.6rem;
    color: white;
}

nav li:first-child::after {
    content: ">";
    margin: 0 1rem;
}

/* 메인 영역 */
.container {
    width: var(--width);
    margin: 0 auto;
    padding: 5rem 0 10rem;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20rem 0 5rem;
    font-family: 'yg-jalnan', serif;
}

.main-text:first-child {
    color: var(--bread);
    margin-bottom: 1rem;
}

.main-text {
    font-size: 4rem;
}

.main-content {
    display: flex;
    justify-content: center;
}

.login-field {
    padding-right: 6em;
    margin-right: 6em;
    border-right: 2px solid #C69B7B;
}

.login-field:last-child {
    border: 0;
}

.login-text {
    font-size: 2rem;
    font-weight: 700;
}

.icon {
    margin-right: 1rem;
    border-radius: 20rem;
    background: var(--black);
    color: white;
    font-size: 1.6rem;
}

.fa-key {
    padding: 1rem;
}

.fa-unlock-keyhole {
    padding: 1rem 1.1rem;
}

.fa-user-lock {
    padding: 1rem .8rem;
}

#passwd-icon {
    position: absolute;
    bottom: 1.6rem;
    right: 1.6rem;
    font-size: 2rem;
    cursor: pointer;
}

.info-input {
    position: relative;
    display: grid;
}

#input-id {
    margin: 2rem 0 1rem;
}

#input-id,
#input-passwd {
    border: 0;
    padding: 1.5rem 2rem;
    border: 0;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: gray;
    transition: all .2s ease;
}

#input-id:focus,
#input-passwd:focus {
    box-shadow: 0 2px 6px var(--patty);
    border: 0;
}

.checkbox-field {
    margin: 2rem 0;
}

.checkbox-field label {
    font-weight: 700;
    font-size: 1.5rem;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    padding: 0 3.5rem;
    cursor: pointer;
}

input[type="checkbox"]+label:before {
    content: '⨯';
    position: absolute;
    top: -.8rem;
    left: 0;
    width: 3rem;
    height: 3rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background: #c0c0c0;
    text-align: center;
    font-weight: 700;
    line-height: 2.9rem;
    font-size: 2rem;
    color: white;
}

input[type="checkbox"]:checked+label:after {
    content: '○';
    position: absolute;
    top: -.8rem;
    left: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    background: black;
    font-weight: 700;
    line-height: 3rem;
    font-size: 1.6rem;
    color: white;
    text-align: center;
}

.login-btn,
.join-btn {
    padding: 1rem 3rem;
    margin: .2rem;
    border: 0;
    border-radius: .5rem;
    box-shadow: 0 1px 5px gray;
    font-family: 'yg-jalnan', serif;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    letter-spacing: .1rem;
    transition: all .2s ease;
}

.login-btn {
    background: var(--bread);
}

.join-btn {
    background: var(--patty);
}

.login-btn:hover,
.join-btn:hover {
    transform: scale(1.1);
}

.info-search {
    display: flex;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 1.6rem;
}

.info-search>li:first-child::after {
    content: "│";
}

.btn-group {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.other-login {
    display: flex;
    padding: 8px 3rem;
    margin-bottom: 15px;
    align-items: center;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px gray;
    font-size: 15px;
    font-weight: 700;
    transition: all .2s ease;
}

.other-login span {
    font-size: 1.6rem;
}

.other-login:hover {
    transform: scale(1.1);
}

.naver-icon {
    position: relative;
    right: 3rem;
    border-right: 2px solid #d1f4cc;
    padding: 0 1rem;
}

.naver-login {
    background: #06c900;
    color: #d1f4cc;
}

.kakao-icon {
    position: relative;
    right: 3rem;
    padding: 0 1rem;
    border-right: 2px solid var(--black);
}

.kakao-login {
    background: #fbec1a;
}

.apple-icon {
    position: relative;
    right: 3rem;
    padding: 0 1.3rem;
    border-right: 2px solid white;
}

.apple-login {
    background: black;
    color: white;
}

.no-login {
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 1px 5px gray;
    font-size: 1.5rem;
    font-weight: 700;
    background: #BE8C63;
    color: white;
    transition: all .2s ease;
}

.order-go:hover {
    background: var(--patty);
    color: white;
    transform: scale(1.1);
}

.order-info:hover {
    background: var(--bread);
    color: white;
    transform: scale(1.1);
}